<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icono-sunny-S.png" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..
1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <title>Donde Encontrarnos</title>
</head>
<body>
    <header>
         <nav>
            <div class="logo">
            <img src="../images/LOGO-SUNNY-INICIO-OK-19.png" alt="logo-sunny">
            </div>
        </nav>             
    </header>

    <main>
    <h1>📍 ¿Dónde encontrarnos?</h1>

    <p>¡Hola Sunny! </p>
    <p>Por ahora no tenemos tienda física, pero eso no significa que no podamos estar cerca tuyo.</p>
    <p>Si querés ver nuestros diseños, hacer pedidos o preguntarnos cualquier cosa, escribinos por WhatsApp o visitanos 
        en Instagram:</p>
    <p>📱 WhatsApp: [ Tu número o link ]</p>
    <p>📸 Instagram: [ @sunnybagsco ]</p>
    <p>Mandanos un mensajito cuando quieras😄</p>
    <p>¡Estamos siempre atentos para ayudarte y que el tote bag perfecto llegue a tus manos!✨</p>

    </main>

    <footer>
        <section class="piepagina">
            <div class="Menu">
                <h1>Menú</h1>
                <a href="sunny.html">Inicio</a>
                <a href="catalogo.html">Comprar</a>
            </div>


            <div class="nosotros">
                <h1>Sobre Nosotros</h1>
                <a href="Quienes-somos.html" target="_blank">¿Quienes somos?</a>
                <a href="Donde-encontrarnos.html">Donde encontrarnos</a> 
            </div>

            <div class="descubrenos">
                <h1>Descúbrenos!</h1>
                <a href="equipo.html">El equipo</a>
                <a href="preguntas.html">Preguntas frecuentes</a>

            </div>

        </section>

    </footer>

</body>
</html>