<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="../images/LOGO-SUNNY-INICIO-OK-19.png" alt="logo-sunny">
            </div>
        </nav>
    </header>
    <main>
        <br>
        <h1>Preguntas frecuentes</h1>
        <br>
        <h1>¿Que tipo de materiales usan?</h1>
        <br>
        <p>Las bolsas de tela se fabrican con una amplia variedad de materiales, tanto naturales como sintéticos, que determinan su resistencia, durabilidad, aspecto y uso. Entre los más comunes se encuentran el algodón,la lona, el yute, el poliéster, el nylon y los no tejidos.</p>
        <h1>¿</h1>
    </main>
</body>
</html>