<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icono-sunny-S.png" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..
1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <title>Preguntas Frecuentes</title>
</head>
<body>
    <header>
         <nav>
            <div class="logo">
            <img src="../images/LOGO-SUNNY-INICIO-OK-19.png" alt="logo-sunny">
            </div>
        </nav>             
    </header>

    <main>
    <h1>Preguntas Frecuentes</h1>

    <p>¡Hola Sunny! </p>
    <br>
    <p>En esta sección vamos a resolver algunas de las dudas más frecuentes que nos llegan por parte de ustedes.</p>
        <br>
        <br>
    <h2>¿De qué material están hechas las tote bags?</h2>
    <p>Nuestras tote bags están confeccionadas con textiles resistentes y responsables, pensados para durar y 
        acompañarte en tu día a día.</p>
        <br>
        <br>
    <h2>¿Cómo puedo cuidar y lavar mi tote bag?</h2>
    <p>Se recomienda lavar a mano con agua fría y jabón suave. Evita el uso de blanqueadores y secadora para 
        conservar los colores y la impresión en perfecto estado.</p>
        <br>
        <br>
    <h2>¿Hacen envíos a todo el país?</h2>
    <p>Sí. Realizamos envíos a nivel nacional. El tiempo de entrega varía según la ciudad, entre 3 y 7 días hábiles 
        aproximadamente.</p>
        <br>
        <br>
    <h2>¿¿Puedo personalizar mi tote bag?</h2>
    <p>¡Claro que sí! Ofrecemos diseños personalizados en pedidos especiales. Escríbenos y cuéntanos tu idea, y la 
        convertimos en realidad.</p>
        <br>
        <br>
    <h2>¿Dónde puedo ver el catálogo completo?</h2>
    <p>Este catálogo digital reúne nuestras colecciones disponibles. Allí encontrarás cada diseño con sus detalles 
        y precios actualizados.</p>
        <br>
        <br>
    <h2>¿Qué métodos de pago aceptan?</h2>
    <p>¡Aceptamos transferencias bancarias, pagos por plataformas digitales y contraentrega en algunas ciudades.</p>
        <br>
        <br>
    <h2>¿Cómo puedo contactarlos si tengo más preguntas?</h2>
    <p>Puedes escribirnos a nuestro correo oficial o a través de nuestras redes sociales. 
        Siempre estaremos felices de ayudarte</p>
        <br>
        <br>
    

    </main>

    <footer>
        <section class="piepagina">
            <div class="Menu">
                <h1>Menú</h1>
                <a href="sunny.html">Inicio</a>
                <a href="catalogo.html">Comprar</a>
            </div>


            <div class="nosotros">
                <h1>Sobre Nosotros</h1>
                <a href="Quienes-somos.html" target="_blank">¿Quienes somos?</a>
                <a href="Donde-encontrarnos.html">Donde encontrarnos</a> 
            </div>

            <div class="descubrenos">
                <h1>Descúbrenos!</h1>
                <a href="equipo.html">El equipo</a>
                <a href="preguntas.html">Preguntas frecuentes</a>

            </div>

        </section>

    </footer>

</body>
</html>