<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icono-sunny-S.png" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..
1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <title>¿Quienes Somos?</title>
</head>
<body>

    <header>
         <nav>
            <div class="logo">
            <img src="../images/LOGO-SUNNY-INICIO-OK-19.png" alt="logo-sunny">
            </div>
        </nav>             
    </header>

    <main>
        <br>
         <h1>¿Quienes Somos?</h1> 
        <br>
        <br>
        <p>Somos un emprendimiento colombiano nacido en 2025, fruto de la pasión por el diseño, la creatividad y el amor 
            por lo auténtico. Unimos nuestro talento de diseñadores independientes y profesionales del marketing para crear 
            tote bags únicas, funcionales y llenas de significado. Aquí, cada diseño cuenta una historia —la tuya, 
            la nuestra, la de todos los que creen en el poder de lo hecho con el corazón</p>
            <br>
        <p>Nuestras tote bags no son solo un accesorio: son una declaración de estilo, una forma de expresión y un lienzo 
            que refleja lo que eres y en lo que crees. Apostamos por materiales responsables, procesos conscientes y 
            mensajes que conectan con emociones y situaciones reales.</p>
            <br>
        <p>Creemos que el diseño puede transformar, que lo local tiene valor, y que cuando se hace con amor, se nota. 
            Por eso, cuidamos cada detalle: desde la elección del textil hasta la impresión final, garantizando una 
            experiencia visual y emocional para quien lleva nuestras piezas.</p>
            <br>
        <p>Más que vender un producto, queremos inspirar una comunidad que valora lo original, lo sostenible y lo que 
            deja huella. Si estás aquí, es porque te gusta lo auténtico... y eso nos inspira todos los días.</p>
            <br>
        <p>Gracias por hacer parte de esta historia. </p>
            
    </main>

    <footer>
        <section class="piepagina">
            <div class="Menu">
                <h1>Menú</h1>
                <a href="sunny.html">Inicio</a>
                <a href="catalogo.html">Comprar</a>
            </div>


            <div class="nosotros">
                <h1>Sobre Nosotros</h1>
                <a href="Quienes-somos.html" target="_blank">¿Quienes somos?</a>
                <a href="Donde-encontrarnos.html">Donde encontrarnos</a>
            </div>

            <div class="descubrenos">
                <h1>Descúbrenos!</h1>
                <a href="equipo.html">El equipo</a>
                <a href="preguntas.html">Preguntas frecuentes</a>

            </div>

        </section>

    </footer>
    
</body>
</html>