<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/S-sunny.jpg"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..
1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sunny Bags Co.</title>
  </head>

  <body>
    <div class="flex-layout">
      <header>
        <nav class="barra">
          <div class="logo">
            <img src="../images/LOGO-SUNNY-INICIO-OK-19.png" alt="logo-sunny" />
          </div>

          <div class="menu">
            <a href="sunny.html">Sunnys</a>
            <a href="personaliza.html">Personaliza</a>
            <a href="donde-encontrarnos.html">Contacto</a>
          </div>

          <div class="buscador">
            <form action="catalogo.html" method="get">
              <input type="search" name="q" placeholder="Buscar..." />
              <input type="submit" value="Buscar" />
            </form>
          </div>
        </nav>
      </header>

      <main>
        <div class="banner">
          <img
            src="../images/BANNER-SUNNY-19-19.png"
            alt="Banner"
            class="banner"
          />
        </div>

        <div>
          <div class="grid-container">
            <div class="grid-item1">
              <img
                src="../images/esta-reu-pudo-ser-mail-bcoynegro-img.png"
                alt="Imagen 1"/>
              <h3>Sunny Bag - Esta reu pudo ser un Mail.</h3>
              <h5>Blanco y Negro - 35cmX45cm</h5>  
              <h5>$35.000</h5>
            </div>
            <div class="grid-item1">
              <img
                src="../images/doquiedosedadulto-bcoyfucsia-img.png"
                alt="Imagen 2"/>
                <h3>Sunny Bag - Ya do quiedo sed adulto.</h3>
                <h5>Blanco y Fucsia - 35cmX45cm</h5>
                <h5>$35.000</h5>
            </div>
            <div class="grid-item1">
              <img
                src="../images/adulto-horr-exp-bcoynegro-img.png"
                alt="Imagen 3"/>
              <h3>Sunny Bag - Ser adulto, horrible experiencia.</h3>
                <h5>Blanco y Negro - 35cmX45cm</h5>
                <h5>$35.000</h5>
            </div>
          </div>

          <div class="contenedorboton">
            <a href="catalogo.html" class="vermas">Más Sunnys</a>
          </div>
        </div>

        <div class="gracias">
        <h1>🙏💛 ¡Gracias por confiar en nosotros!</h1>
        <br>
        <p>Este catálogo es más que una muestra de productos: es el reflejo de un sueño construido con 
          dedicación, creatividad y amor por lo auténtico 🌟.</p>
        <p>Gracias por brindarnos tu confianza y permitirnos acompañarte con nuestras 👜 tote bags, piezas 
          pensadas para contar historias y dejar huella 🌿✨.</p>
        <p>Cada vez que eliges nuestra marca, haces parte de una comunidad que cree en el diseño 🎨, en lo 
          original y en lo hecho con el corazón ❤️.</p>
        </div>

      </main>
    </div>    <!--división cerrando del flex-loyout-->



    <footer>
      <section class="piepagina">
        <div class="Menu">
          <h1>Menú</h1>
          <a href="sunny.html">Inicio</a>
          <a href="catalogo.html">Comprar</a>
        </div>

        <div class="nosotros">
          <h1>Sobre Nosotros</h1>
          <a href="Quienes-somos.html" target="_blank">¿Quienes somos?</a>
          <a href="Donde-encontrarnos.html">Donde encontrarnos</a>
        </div>

        <div class="descubrenos">
          <h1>Descúbrenos!</h1>
          <a href="equipo.html">El equipo</a>
          <a href="preguntas.html">Preguntas frecuentes</a>
        </div>
      </section>
    </footer>
    <script src="js/search.js"></script>
  </body>
</html>
